<div class="w3-container">
  <!-- instructions -->
  <ul>
    <li>
      install angular-font-awesome package <a href="https://www.npmjs.com/package/angular-font-awesome" target="_blank" style="color:blue">link here</a> then follow instructions in the link
    </li>
    <li>
      add  <code class="w3-codespan">< link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" ></code> to index.html
    </li>
    <li>
        <code class="w3-codespan">import FormsModule from '@angular/forms';</code> in app.module to enable ngModel
    </li>
  </ul>

  <label>data size :</label>
  <input type="number" class="w3-input" [(ngModel)]="dataSize">

  <div class="w3-row w3-center">

    <button (click)="first()" class="w3-button w3-round w3-text-white w3-animate-left" style="background-color: #4ca5df; margin:2px" *ngIf="currentPage > 0">
      <fa name="angle-double-left" size="lg"></fa>&nbsp;first
    </button>
    <button (click)="previous()" class="w3-button w3-round w3-text-white w3-animate-left" style="background-color: #4ca5df; margin:2px" *ngIf="currentPage > 0">
      <fa name="angle-left"  size="lg"></fa>
    </button>

    <button type="button" *ngFor="let n of pages | slice : currentPage : currentPage + 5;" [ngClass]=" {'w3-light-blue' : n == currentPaginationButton}" (click)="paginate(n); " class="w3-button w3-round w3-text-white w3-animate-right" style="background-color: #4ca5df; margin:2px">{{n}}</button>

    <button type="button" (click)="next()" class="w3-button w3-round w3-text-white w3-animate-right" style="background-color: #4ca5df; margin:2px" *ngIf="currentPaginationButton != lastPage && pages.length > 5">
    <fa name="angle-right"  size="lg"></fa>
    </button>

    <button (click)="last()" class="w3-button w3-round w3-text-white w3-animate-right"   style="background-color: #4ca5df; margin:2px" *ngIf="currentPaginationButton != lastPage  && pages.length > 8" >
        last&nbsp;<fa name="angle-double-right" size="lg"></fa>
    </button >

  </div>
</div>